  :root{
    --theme-black: #000000;
    --primary-black: #212121;
    --theme-white: #ffffff;
    --theme-button:#673de6;
    --theme-red: #fc5185;
    --theme-success: #029688;
    --theme-purple: #d5e0fe;
    --border-bottom: #aaa;
    --nav-color: #eee;
    --nav-link-color: #1b1b1b;
    --page-color: #d4d4d4;
    --font-dark-color: #2e1e69;
    --theme-light-color: #8b74ee;
    --theme-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    /* color: var(--theme-black);
    background-color: var(--theme-white); */
  }
  .bg-theme{
    background-color: var(--theme-purple); 
    color: var(--font-dark-color);
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px var(--border-bottom);
    background-color: var(--font-dark-color);
    box-shadow: var(--theme-box-shadow);
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px rgb(22, 22, 22);
    text-align: center;
    text-decoration: none;
    color: var(--theme-white);
    background-color: var(--theme-red);
  }
  
  nav a[aria-current='page'] {
    /* color: var(--theme-black); */
    /* background-color: var(--page-color); */
    background-color: var(--theme-light-color);
    color: var(--theme-white);
  }
  
  main {
    padding: 1rem;
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .project-link {
    background-color: var(--theme-button);
    color: var(--theme-white);
    padding: 10px 30px;
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid var(--primary-black);
    margin-top: 5px;
    border: none;
  }
  .project-link:hover{
    background-color: var(--theme-success);
    color: var(--theme-white);
  }

  img {
    width: auto;
    height: 180px;
    object-fit: cover;
  }
